@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.ttf');
}

.countdown{
  margin-top: 0px;
  text-align: center;
}
.countdown li{
  display: inline-block;
  font-size: 15px;
  font-family: "Roboto Bold";
  list-style-type: none;
  padding: 1px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 0px 1px lightblue, 0 0 5px blue, 0 0 0px lightblue;
}

#days, #hours, #minutes, #seconds {
  font-family: "Roboto Bold";
  display: block;
  font-size: 50px;
  color: #fff;
  margin: 15px;
}

@media (max-width: 576px) {
  #days, #hours, #minutes, #seconds {
    font-size: 40px;
  }
}
